---
const year = new Date().getFullYear();
---

<footer style="text-align: center; padding: 70px; font-family: Arial, sans-serif;">
  <p style="font-weight: bold;">
    An Innovation Designed by
  </p>
  <p>
    <a 
      href="https://gdp-livid.vercel.app/" 
      target="_blank" 
      rel="noopener noreferrer" 
      style="color: #FFB800; text-decoration: none; font-size: 16px; font-weight: bold;"
    >
      GDP RGPV
    </a>
  </p>
  <p >
    &copy; {year} InkSpace. All rights reserved.
  </p>
</footer>
